<%-  include("header"); -%>
<h1> this is the about page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe quasi eius eveniet veritatis dolore maiores, magni
    itaque laborum? Fuga impedit culpa dolorem consectetur placeat, maiores facilis provident expedita incidunt.
    Adipisci! </p>


<%-  include("footer"); -%>